.no-bullets {
  /* list-style-type: none; */
  list-style-image: url(button.webp);
}

bodY {
  background-color: aqua;
}

#btn-1 {
  background-color: brown;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width: 75px;
  height: 25px;
  opacity: 1;
}
