.Sitemap-section {
  background-color: #f9f8fa;
}

.Sitemap-section .sitemap {
  width: 80%;
  margin: auto;
  padding: 3% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Sitemap-section .sitemap .sitemap-items h3 {
  font-size: 3rem;
  color: #373858;
}

.Sitemap-section .sitemap .sitemap-items ul li {
  list-style: none;
  font-size: 2rem;
  font-family: "Kanit", sans-serif;
  color: #202429;
}
