/* ---- Font family of -- Shantell Sans -----*/
/* @import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap"); */

/*
 font-family: 'Kanit', sans-serif;
font-family: 'Shantell Sans', cursive;
 */

/* --common class -- */
.pointer:hover {
  cursor: pointer;
}

.product-rotation-30deg {
  transform: rotate(-30deg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Shantell Sans", cursive;
}
body {
  background-color: #fef9f5;
}

.buy-button {
  background-color: #3c4ff2;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 1.5%;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Kanit", sans-serif;
  font-family: sans-serif;
}
.buy-button i {
  background-color: #3c4ff2;
  margin-right: 5px;
  font-size: 2rem;
}

header {
  background-color: #fef9f5;
  height: 50px;
  box-shadow: 0 2px 5px 2px #e0dad7;
}

header nav {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 5rem;
  font-weight: 800;
}

.nav-left p span:first-child {
  color: #fe8366;
}
.nav-left p span:last-child {
  color: #222222;
}

.brand-title {
  text-transform: uppercase;
}

.nav-right ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-right ul li {
  font-family: "Kanit", sans-serif;
  list-style: none;
  font-size: 2rem;
  margin-right: 15px;
  color: #908f8b;
}

/* -- banner section start*/
.banner-section {
  background-color: #fef9f5;
}

.banner-section img {
  background-color: transparent;
}

.banner-section .banner {
  background-color: #fef9f5;
  height: 50vh;
  width: 80%;
  margin: 1% auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.banner-section .banner {
  padding: 0 5%;
}
.banner-section .banner .banner-left,
.banner-section .banner .banner-right {
  width: 50%;
}

.banner-section .banner .banner-left {
  position: relative;
}

.banner-section .banner .banner-left .shoe-background {
  position: absolute;
  background-color: #757a80;
  border-radius: 50%;
  width: 48%;
  height: 329px;
  bottom: -46%;
  left: 10%;
}

.banner-section .banner .banner-right {
  font-size: 8rem;
}
.banner-section .banner .banner-right h2:first-child {
  color: red;
}

.banner-section .banner .banner-right h2:last-child {
  color: black;
}

.banner-section .banner .banner-right p {
  font-size: 2rem;
  font-family: "Kanit", sans-serif;
}
/* -- banner section ends*/

/* <!-- Products section start here --> */
.products-section {
  background-color: #e4e4e5;
  width: 100%;
  height: auto;
}
.products-section .products {
  width: 80%;
  margin: auto;
}

.products-section .products h2 {
  font-size: 4rem;
  font-family: "Kanit", sans-serif;
  color: #363958;
  padding: 1.2% 0;
}
.products-section .products .products-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.products-section .products .products-container .product-card {
  background-color: #fffefe;
  width: 30%;
  padding: 1%;
  border-radius: 20px;
}

.products-section
  .products
  .products-container
  .product-card
  .product-image-container {
  background-color: rgb(240, 241, 240);
  width: 100%;
  border-radius: 20px;
  height: 350px;
}
.products-section
  .products
  .products-container
  .product-card
  .product-image-container
  .product-image {
  margin: -15% 0 0 -10%;
}

.products-section
  .products
  .products-container
  .second-product
  .product-image-container
  .product-image {
  margin: 17% 0 0 -8%;
  height: 200px;
}

.products-section
  .products
  .products-container
  .third-product
  .product-image-container
  .product-image {
  margin: 8% 0 0 -8%;
}

.products-section .products .product-card .product-captions .product-title {
  font-size: 2.5rem;
  font-family: "Kanit", sans-serif;
  color: #363958;
  font-weight: 500;
}

.products-section .products .product-card .product-captions .product-details {
  font-size: 1.8rem;
  font-family: "Kanit", sans-serif;
  color: #46484c;
}

.products-section .products .product-card .price-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-section .products .product-card .price-section .price {
  font-size: 2.2rem;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  text-align: center;
  color: #fe8366;
}
.shoes-red {
  margin-top: -10%;
}

.product-image-black {
  margin-top: 14%;
}

/* <!-- Products section ends here --> */
