* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 50%;
}
div {
  height: 50px;
  width: 22%;
  display: inline-block;
}

.div2,
.div4 {
  background-color: aqua;
}

.div1,
.div3 {
  background-color: goldenrod;
}

p {
  border: 2px solid green;
}
