/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: red;
}

.main-div {
  background-color: blue;
  width: 80%;
  height: 400px;
}

.pikachu {
  border-radius: 20%;
  width: 50%;
  height: 200px;
  /*40%*/
}

table {
  width: 50%;
}
table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin: 10px;
}

.th3 {
  width: 50%;
}

.th4 {
  width: 30%;
}
